@use "../../sass/colors";

.loginContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90dvh;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: colors.$surface-light;
  border: 0.01rem solid colors.$surface-medium;
  border-radius: 1rem;
  padding: 2rem;
  min-width: 25%;
}

.inputWrapper {
  width: 100%;
}

.clickHere {
  color: colors.$primary;
  cursor: pointer;
}
.clickHere:hover {
  text-decoration: underline;
}
