$white: #ffffff;
$grey: grey;
$black: rgb(10, 10, 10);
$black-transparent: rgba(10, 10, 10, 0.5);
$primary: rgb(240, 0, 255);
$primary-translucent-light: rgba(240, 0, 255, 0.1);
$primary-translucent: rgba(240, 0, 255, 0.3);
$primary-translucent-strong: rgba(240, 0, 255, 0.4);
$primary-overlay: rgba(238, 0, 255, 0.5);
$primary-border: rgba(240, 0, 255, 0.2);
$secondary: rgb(230, 130, 240);
$accent-pink: pink;
$accent-blue-soft: rgba(0, 180, 255, 0.2);
