.pricingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: auto;
  padding-block: 2rem;
}

.priceCards {
  display: flex;
  align-items: center;
  gap: 3rem;
  padding-block: 2rem;
}
