@use "../../sass/colors";

.footerContainer {
  padding: 2rem 5rem;
  display: flex;
  justify-content: space-between;
}
.left {
  display: flex;
  gap: 5rem;
}
.logo {
  display: inline;
  max-height: 4rem;
}
.products :not(:first-child),
.resources :not(:first-child),
.legal :not(:first-child) {
  color: colors.$grey-light;
}

.products,
.resources,
.legal {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: right;
  width: 20%;
  color: colors.$grey-light;
}
.icons {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 0.5rem;
}
.icons > :hover {
  color: colors.$primary;
}
